.normaler-button {
    -fx-opacity: 1;
}

.normaler-button:disabled {
    -fx-opacity: 0.4;
}

.im-kampf-button {
    -fx-opacity: 0.7;
}


.button-weiter {
    -fx-background-image: url("/Graphiken/weiter.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-weiter:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.button-kampf {
    -fx-background-image: url("/Graphiken/kampf.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-kampf:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.button-switch {
    -fx-background-image: url("/Graphiken/switch.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.button-switch:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.button-view {
    -fx-background-image: url("/Graphiken/view.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-view:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.button-close {
    -fx-background-image: url("/Graphiken/close.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-close:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}